*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000 0%, #282369 100%);
}
